@charset "UTF-8";
/* index */

:root {
  /* 色の管理 */
  --color-beigy: rgba(240, 240, 240, 0.5);
  --color-black: #000;
  --color-white: #fff;
  --color-gray: #c0c0c0;
}

:root {
  /* 幅の管理 */
  --mobile-width: 92%;
  --pc-width: 80%;
  --lg-width: 867px;
}

/* ---------- base ---------- */
html {
  scroll-behavior: smooth;
}

body {
  color: #333;
  font-size: 14px;
  line-height: 1.75;
  font-family: vdl-pengentle, sans-serif;
  font-weight: normal;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 22px;
  font-weight: bold;
  white-space: nowrap;
}

section {
  width: 92%;
  margin: 80 auto 0;
}

th,
td {
  border: 1px solid #333;
  text-align: center;
}

/* news */
.l_top_news {
  margin-top: 40px;
}

.l_top_news_letter {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.l_top_news_tag-date {
  display: flex;
  gap: 1em;
}

.l_top_news_txt {
  display: flex;
  flex-flow: column;
  gap: 10px;
}

.l_top_news_important {
  color: #a70000;
}

.l_section_title,
.l_section_sub-title {
  text-align: center;
}

.l_top_recruit {
  width: 100%;
  padding: 40px 0;
  background-color: #fcf7e3;
  z-index: -2;
}

.recruit_list_box {
  width: 84%;
}

.recruit_item {
  border: none;
  box-shadow: 0 3px 6px rgb(0, 0, 0, 0.16);
}

.m_item_txt {
  background-color: rgba(255, 225, 0, 0.8);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 20px 20px;
  text-align: right;
}

.recruit_item_txt {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
}

/* ---------- layout ---------- */

.sticky-item{
  width: 100px;
  height: 100px;
  position: sticky;
  top: 100px;
  background-color: #333;
}

.l_header {
  width: 100%;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  background: var(--color-white);
  height: 70px;
  display: flex;
  align-items: center;
}

.l_header_container {
  display: flex;
  justify-content: space-between;
  width: var(--mobile-width);
  margin: 0 auto;
}

.l_header_title {
  display: flex;
  align-items: center;
  gap: 4px;
}

.l_header_title_icon {
  width: 30px;
  height: 30px;
}

.l_header_title_wrapper {
  font-size: 20px;
}

.l_header_nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.l_header_nav_icon {
  width: 30px;
  height: 30px;
}

.l_kv_container {
  position: relative;
}

.l_kv_img_wrapper {
  width: 80vw;
  margin-left: auto;
}

.l_kv_txt_wrapper {
  position: absolute;
  top: 55%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 4vw;
}

.l_kv_txt {
  font-size: 30px;
}

.l_footer {
  width: 100%;
  height: 10%;
  background: #707070;
  color: var(--color-white);
}

.l_footer_container {
  width: var(--mobile-width);
  margin: 0 auto;
}

.l_footer_txt_container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---------module------------- */
.m_hamburger {
  width: 30px;
  height: 22px;
  position: relative;
  z-index: var(--z-index-menu);
  
.m_hamburger-bar {
  width: 100%;
  height: 2px;
  display: block;
  background: var(--color-black);
  position: absolute;
  left: 50%;
}

.m_hamburger-bar:first-child {
  top: 0;
  transform: translate(-50%, 0);
}

.m_hamburger-bar:nth-child(2) {
  top: 50%;
  transform: translate(-50%, -50%);
}

.m_hamburger-bar:nth-child(3) {
  top: 100%;
  transform: translate(-50%, -100%);
}

.m_main_contents {
  width: 100%;
}

.m_section_container {
  width: 92%;
  margin: 0 auto;
}

.m_section_title_wrapper {
  display: flex;
}

.m_section_title_txt {
  font-size: 22px;
}

.m_section_title_sub {
  margin-top: auto;
}

.m_list_box {
  width: 92%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 40px auto 0;
}

.m_item {
  position: relative;
  border: solid 10px #e6e6e6;
}

.m_list_box > a:not(:first-child) {
  margin-top: 20px;
}

.m_btn {
  width: 50%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cfe2d1;
  border-radius: 9999px;
  margin: 40px auto;
  font-weight: bold;
}

/* utility */

.u_picture_relative {
  position: relative;
  overflow: hidden;
  padding: 80  4%;
  margin: 0;
  width: 100%;
}

.u_picture_relative02{
  position: relative;
}

.u_circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: rgba(252, 200, 0, 0.77);
  position: absolute;
  top: 10%;
  left: 0%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.u_flower {
  margin: 0;
  position: absolute;
  width: 300px;
  height: 300px;
  bottom: 10%;
  right: -45%;
  z-index: -1;
}

.u_flower_center {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: rgba(226, 219, 207, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.u_flower_triangle {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 38px 64px 38px;
  border-color: transparent transparent #f2ca05 transparent;
  opacity: 0.3;
}

.u_flower_triangle01 {
  top: 16%;
  left: 46%;
  transform: translate(-50%, -50%) rotate(110deg);
}

.u_flower_triangle02 {
  top: 33%;
  left: 18%;
  transform: translate(-50%, -50%) rotate(55deg);
}
.u_flower_triangle03 {
  top: 66%;
  left: 18%;
  transform: translate(-50%, -50%) rotate(-3deg);
}
.u_flower_triangle04 {
  top: 87%;
  left: 44%;
  transform: translate(-50%, -50%) rotate(-52deg);
}

.u_flower_leaf{
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  bottom: -32%;
  right: 0%;
  background:rgba(95, 172, 83, 0.73) ;
  border-radius: 18% 82% 5% 95% / 17% 94% 6% 83% ;
  z-index: -2;
}

.u_flower_stem {
  display: block;
  position: absolute;
  bottom: -75%;
  right: 0%;
  width: 4%;
  height: 100%;
  background: rgba(95, 172, 83, 0.73);
  z-index: -2;
}

.u_background-line {
  display: block;
  width: 100%;
  height: 160px;
  z-index: -1;
  position: absolute;
  top: 16%;
  left: 50%;
}

.u_background-line01 {
  display: block;
  background: linear-gradient(to right, #cfe2d1, #a7defd);
  z-index: -1;
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translate(-50%, -50%) skewY(46deg);
}

.u_background-line02 {
  display: block;
  background: linear-gradient(to right, #cfe2d1, #a7defd);
  z-index: -1;
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(50deg);
}

.u_background-line03 {
  display: block;
  background: rgba(242, 203, 5, 0.3);
  z-index: -1;
  position: absolute;
  top: 16%;
  left: 50%;
  transform: translate(-50%, -50%) skewY(46deg);
}

/* top */
.top_practice-time {
  background: #f8f8f8;
  padding: 40px 0;
}

/* js */
